<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/main.css" />

  <script src="/js/main.js"></script>
</head>

<body class="default">
	<h1 class="sitetitle"><a class="rootlink" href="/">Site Title</a></h1>
	<p class="sitetagline">Site Tagline, Because Why Not</p>
	<div class="navbar">
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Projects</a></li>

		</ul>
	</div>
	<h2 class="pagetitle">Page Title</h2>	
	<p class="pagesubtitle">Really Looooong Page Sub Title</p>
		<div class="taglist">
			<p>Tags</p>
			<ul>
				<li><a href="/path/to/tags">Tag a</a></li>
				<li><a href="/path/to/tags">Tag b</a></li>
			</ul>
		</div>
		<div class="pagecontent blogsummary">
			<div class="postpreview">
				<a class="continue titlecontinue" href="/path/to/post"><h3 class="posttitle">Straight-up post title</h3></a>
				<p class="byline">Byline McLastnamerson</p>
				<p class="date">2018-09-23</p>
				<p class="preview">Lorum Ipsum? Or not to Lorum Ipsum?</p>
				<a class="continue continuebutton" href="/path/to/post">
					Continue Reading
				</a>
				<ul class="tags">
					<li><a>Greatness!</a></li>
					<li><a>Humanity</a></li>
				</ul>
			</div>
	</div>
	<p class="copyright">(C) 20X6 Blakwurm Entertainment</p>
	
</html>
