<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/main.css" />

</head>

<body>
	<div id="header">
		<h1 class="sitetitle">Site Title</h1>
		<p class="sitetagline">Site Tagline, Because Why Not</p>
		<div class="navbar">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Projects</a></li>
	
			</ul>
		</div>

	</div>
	<div id="pagemain">
		<h2 class="pagetitle">Page Title</h2>	
		<p class="pagesubtitle">Page Sub Title</p>
		<div class="pagecontent">
			<p>Lorum Ipsum Dolor set amet, plus a bunch of extra text</p>
		</div>
	</div>
	<div id="footer">
		<p class="copyright">(C) 20X6 Blakwurm Entertainment</p>
	</div>
  <script type="module" src="/js/main.js"></script>
</body>
</html>
