* {
	background-color: black;
	color: white;
	padding: 0;
	margin: 0;
	font-family: monospace;
}

html {
}

body {
	display: block;
	background: rgba(30, 30, 30, 20);
	border-radius: 10px;
	padding: 10px;	
	margin: 20px;
}

body * {
	background-color: rgba(0, 0, 0, 0);
}

#header {
	background-color: rgba(40, 40, 40, 30);
	display: block;
	border-radius: 5px;
	
}

.sitetitle {
	padding: 5px;
	display: inline-block;
}

.sitetagline {
	display: inline-block;
	padding: 5px;
	padding-top: 1px;
}

.navbar {
	display: block;
}

.navbar ul {
	display: block;
	border-bottom: solid 2px grey;
	border-top: solid 2px grey;
	padding-top: 1px;
	padding-bottom: 3px;
}

.navbar ul li {
	display: inline;
	list-style: none;
}

#pagemain {
	padding: 5px;
}

#footer {
	background-color: rgba(40, 40, 40, 90);
	display: block;
	position: absolute;
	bottom: 10px;
}
