@import url('https://fonts.googleapis.com/css?family=Actor|PT+Mono|Philosopher');
@import url('https://fontlibrary.org/face/cave-story');
@import url('https://fontlibrary.org/face/mr-pixel');

* {
	padding: 0;
	margin: 0;
	text-align: left;
	vertical-align: center;
	font-family: 'VTFMisterPixelRegular', sans-serif;
}

html {
	padding: 0;
	margin: 0;
}

body {
	--color-dark: #331e50;
	--color-med-hi: #d68e49;
	--color-med-low: #a63725;
	--color-light: #f7e7c6;
	background-color: var(--color-light);
	color: var(--color-med-low);
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--color-low)
}

a::before {
	content: "< ";
}

a::after {
	content: " />";
}

.sitetitle, .sitetagline {
	background-color: var(--color-med-hi);
	color: var(--color-light);
	border: 3px double var(--color-med-low);
	text-shadow: 2px 2px 0px var(--color-med-low);


}

.sitetitle {
	border-bottom: none;
	text-align: center;
	padding: 4px 0;
}

.sitetagline {
	border-top: none;
	text-align: center;
	padding-bottom: 4px;
}


.sitetitle a {
	color: inherit;
	width: 100%;
	height: 100%;
	text-align: inherit;
}

.sitetitle a::before, .sitetitle a::after {
	content: none;
}

.navbar ul li {
	display: block;
	background-color: var(--color-med-low);
	color: var(--color-light);
	margin: 3px 0;
	padding: 2px;
}

.pagetitle, .pagesubtitle {
	color: var(--color-med-hi);
	border: 3px solid var(--color-med-low);
	padding: 3px;
	text-shadow: 1px 1px 0px var(--color-med-low);
	white-space: nowrap;
	overflow: visable;
}

.pagetitle {
	width: 70%;
	border-top: none;
	border-right: none;
}

.pagesubtitle {
	width: 40%;
	border-right: none;
	border-top: none;
}

.pagecontent p, .pagecontent h2, .pagecontent img {
	padding: 6px;
}

.copyright {
	text-align: center;
	padding: 6px;
}
