body {
    background-color: black;
    max-width: 80ch;
}
* {
    color: #fc9500;
    text-shadow: 0 0 5px #fcf000;
    font-family: 'MeyrinRegular';
    font-weight: bold;
}
#maskcanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}